{
	debug
	local_certs
	http_port 8080
	https_port 8443

	git {
		repo authp.github.io {
			base_dir {$HOME}/tmp/ssh
			url git@github.com:authp/authp.github.io.git
			# auth key {$HOME}/.ssh/id_rsa passphrase {env.MY_SSH_KEY_PASSPHRASE}
			# auth key {$HOME}/.ssh/id_rsa passphrase {env.MY_SSH_KEY_PASSPHRASE} no_strict_host_key_check
			auth key {$HOME}/.ssh/id_rsa
			branch gh-pages
		}
	}
}

127.0.0.1, localhost {
	route /version* {
		respond * "1.0.0" 200
	}
	route /update/authp.github.io {
		git update repo authp.github.io
	}
	route {
		file_server {
			root {$HOME}/tmp/ssh/authp.github.io
		}
	}
}
