{
	debug
	local_certs
	http_port 8080
	https_port 8443

	git {
		repo authp.github.io {
			base_dir ./tmp/ssh
			url git@github.com:authp/authp.github.io.git
            auth key ~/.ssh/id_rsa
			branch gh-pages
			depth 1
		}
	}
}

127.0.0.1, localhost {
	route /version* {
		respond * "1.0.0" 200
	}
	route /update/authp.github.io {
		git update repo authp.github.io
	}
	route {
		file_server {
			root ./tmp/ssh/authp.github.io
		}
	}
}
