{
	debug
	local_certs
	http_port 8080
	https_port 8443

	git {
		repo authp.github.io {
			base_dir {$HOME}/tmp
			url https://github.com/authp/authp.github.io.git
			# webhook Github X-Hub-Signature-256 {env.MY_GITHUB_WEBHOOK_KEY}
			webhook Gitlab X-Gitlab-Token barbaz
			branch gh-pages
		}
	}
}

127.0.0.1, localhost {
	route /version* {
		respond * "1.0.0" 200
	}
	route /update/authp.github.io {
		git update repo authp.github.io
	}
	route {
		file_server {
			root {$HOME}/tmp/authp.github.io
		}
	}
}
